.local/
.vscode/
.gradle/
node_modules/
buildJvm/bin
buildJvm/*/build/

.classpath
.project
.settings
.metadata
*.iml
*.ipr

*.class
*/.vs
*.suo

bin/
obj/

.idea
*.iws
*.iml
*.ipr
out/

*.py[co]
.python-version
Pipfile
venv/
.coverage

.DS_Store
.vs/
**/target/
**/*.rs.bk
/target
todo.md
