.local/
.vscode/
.gradle/
node_modules/
buildJvm/bin
buildJvm/*/build/

.classpath
.project
.settings
.metadata
*.iml
*.ipr

*.class
*/.vs
*.suo

bin/
obj/

.idea
*.iws
*.iml
*.ipr
out/

*.py[co]

Pipfile

.DS_Store
.vs/
